Repository ivanoats/nextweather: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update .husky/pre-push
  .husky/pre-push
Due: none

Update README.md
  README.md
Due: prettier --write

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Due: prettier --write

Update .husky/pre-commit
  .husky/pre-commit
Due: none

Apply suggestions from code review
  .husky/commit-msg
Due: none

Update GIT_HOOKS_SETUP.md
  GIT_HOOKS_SETUP.md
Due: prettier --write

Apply suggestion from @Copilot
  src/util/forecast-summary.ts
Due: eslint --fix, prettier --write

Apply suggestions from code review
  tests/util/forecast-summary.test.ts
Due: eslint --fix, prettier --write

Update src/util/forecast-summary.ts
  src/util/forecast-summary.ts
Due: eslint --fix, prettier --write

chore: clean up a few things
  next-env.d.ts
  src/util/forecast-summary.ts
  tests/util/forecast-summary.test.ts
Due: eslint --fix, prettier --write

lower variance threshold
  src/util/forecast-summary.ts
Due: eslint --fix, prettier --write

feat(forecastsummary): warn if current wind is different than forecast hour
  src/components/ForecastTab.tsx
Due: eslint --fix, prettier --write

chore: snyk config
  .vscode/settings.json
Due: prettier --write

test: increast test coverage
  next-env.d.ts
  tests/components/ForecastTab.test.tsx
  tests/pages/api/forecast.test.ts
  tests/pages/api/nbdc.test.ts
  tests/pages/api/observations.test.ts
  tests/util/nws-date-to-js-date.test.ts
Due: eslint --fix, prettier --write

fix: correct wind comparison direction in forecast vs actual display
  src/components/ForecastTab.tsx
Due: eslint --fix, prettier --write

chore: sonarqube ignores
  sonar-project.properties
Due: none

Potential fix for code scanning alert no. 15: Incomplete URL substring sanitization
  tests/pages/api/nbdc.test.ts
Due: eslint --fix, prettier --write

Create debugging guide for GitHub Actions workflows
  .github/skills/gthub-actions-failure-debugging.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css})
